//- users render tu file nay
h1 Users List ne !!!

a(href="/users/create") NEW
br
br

form(action="/users/search", method="get")

    input(type="text" placeholder="Search" name="q" ) 
    button Search
    //- luu gia tri can tim vao q
hr
//- show list users
ul
    each user in users
        li
            span= user.name
            span &nbsp
            a(href="/users/" + user.id) View

